<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.13">
  <compounddef id="structvt_1_1mapping_1_1_base_mapper" kind="struct" language="C++" prot="public" abstract="yes">
    <compoundname>vt::mapping::BaseMapper</compoundname>
    <derivedcompoundref refid="structvt_1_1mapping_1_1_unbounded_default_map" prot="public" virt="non-virtual">vt::mapping::UnboundedDefaultMap&lt; IdxT &gt;</derivedcompoundref>
    <includes refid="base__mapper__object_8h" local="no">base_mapper_object.h</includes>
    <templateparamlist>
      <param>
        <type>typename IdxT</type>
      </param>
    </templateparamlist>
      <sectiondef kind="public-type">
      <memberdef kind="typedef" id="structvt_1_1mapping_1_1_base_mapper_1a92c525b6dd69ead3a631626a75c4c0bc" prot="public" static="no">
        <type>IdxT</type>
        <definition>using vt::mapping::BaseMapper&lt; IdxT &gt;::BaseIndexType =  IdxT</definition>
        <argsstring></argsstring>
        <name>BaseIndexType</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="src/vt/topos/mapping/base_mapper_object.h" line="57" column="1" bodyfile="src/vt/topos/mapping/base_mapper_object.h" bodystart="57" bodyend="-1"/>
      </memberdef>
      </sectiondef>
      <sectiondef kind="public-func">
      <memberdef kind="function" id="structvt_1_1mapping_1_1_base_mapper_1acafa2909b2b0fd8e3a907562c099f722" prot="public" static="no" const="no" explicit="no" inline="no" virt="virtual">
        <type></type>
        <definition>virtual vt::mapping::BaseMapper&lt; IdxT &gt;::~BaseMapper</definition>
        <argsstring>()=default</argsstring>
        <name>~BaseMapper</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="src/vt/topos/mapping/base_mapper_object.h" line="59" column="1"/>
      </memberdef>
      <memberdef kind="function" id="structvt_1_1mapping_1_1_base_mapper_1a940a3ea301c0f60b2b88218afbce5a4f" prot="public" static="no" const="no" explicit="no" inline="no" virt="pure-virtual">
        <type><ref refid="namespacevt_1a866da9d0efc19c0a1ce79e9e492f47e2" kindref="member">NodeType</ref></type>
        <definition>virtual NodeType vt::mapping::BaseMapper&lt; IdxT &gt;::map</definition>
        <argsstring>(IdxT *idx, int ndim, NodeType num_nodes)=0</argsstring>
        <name>map</name>
        <reimplementedby refid="structvt_1_1mapping_1_1_unbounded_default_map_1a8617e6a789985a7140d09a8be6bc3a47">map</reimplementedby>
        <param>
          <type>IdxT *</type>
          <declname>idx</declname>
        </param>
        <param>
          <type>int</type>
          <declname>ndim</declname>
        </param>
        <param>
          <type><ref refid="namespacevt_1a866da9d0efc19c0a1ce79e9e492f47e2" kindref="member">NodeType</ref></type>
          <declname>num_nodes</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="src/vt/topos/mapping/base_mapper_object.h" line="60" column="1"/>
      </memberdef>
      </sectiondef>
    <briefdescription>
<para>The base class for a general mapper object group used for mapping elements of a collection to a node. </para>    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <inheritancegraph>
      <node id="387">
        <label>vt::mapping::UnboundedDefaultMap&lt; IdxT &gt;</label>
        <link refid="structvt_1_1mapping_1_1_unbounded_default_map"/>
        <childnode refid="386" relation="public-inheritance">
        </childnode>
      </node>
      <node id="386">
        <label>vt::mapping::BaseMapper&lt; IdxT &gt;</label>
        <link refid="structvt_1_1mapping_1_1_base_mapper"/>
      </node>
    </inheritancegraph>
    <location file="src/vt/topos/mapping/base_mapper_object.h" line="56" column="1" bodyfile="src/vt/topos/mapping/base_mapper_object.h" bodystart="56" bodyend="61"/>
    <listofallmembers>
      <member refid="structvt_1_1mapping_1_1_base_mapper_1a92c525b6dd69ead3a631626a75c4c0bc" prot="public" virt="non-virtual"><scope>vt::mapping::BaseMapper</scope><name>BaseIndexType</name></member>
      <member refid="structvt_1_1mapping_1_1_base_mapper_1a940a3ea301c0f60b2b88218afbce5a4f" prot="public" virt="pure-virtual"><scope>vt::mapping::BaseMapper</scope><name>map</name></member>
      <member refid="structvt_1_1mapping_1_1_base_mapper_1acafa2909b2b0fd8e3a907562c099f722" prot="public" virt="virtual"><scope>vt::mapping::BaseMapper</scope><name>~BaseMapper</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
